{% extends "Page1/base.html" %}
{% block content %}

    <table class="table">

            <thead>
                <tr>
                    <th>Products</th>

                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.title }}</td>

                        <td>{{ product.price }}</td>
                        <td><a href="{% url 'shop:cart_detail'  %}">Cart</a></td>
                        <td><a href="{% url 'shop:add_to_cart' product.id  %}">Add</a></td>

                    </tr>
                {% endfor %}
            </tbody>

        </table>

{%endblock%}